.wrap{
	width: 60%;
    margin: 0 auto;
    text-align: center;
}
.text{
    background-color: #9fc5f8fe;
    outline: black solid 3px;
    width: 400px;
    height: 550px;
    font-size: xx-large;
    margin: 10px;
    padding: 10px;
    margin-left:170px ;
}
.wrapH{
	width: 60%;
    margin: 0 auto;
    outline: black solid 3px;
    width: 450px;
    height: 650px;
    padding: 20px;
}
h1{
    text-align: center;
    }
.input{
    margin: 10px;	
}
.form{
    padding: 10px;
}
.btn{
    color: aqua;
    margin-left: 270px;
    background-color: #597eaafe; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}